<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="Slimy Network Bot" status="INFO" strict="true">
    <Appenders>
        <Console name="Console Appender">
            <PatternLayout pattern="[%d{HH:mm:ss.SSS}] [%level]: %msg%n"/>
            <Filters>
                <ThresholdFilter level="info"/>
            </Filters>
        </Console>
        <RollingRandomAccessFile name="File Appender" fileName="logs/latest.log" filePattern="logs/%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="[%d{HH:mm:ss.SSS}] [%t/%level]: %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <OnStartupTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="1000"/>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="Console Appender"/>
            <AppenderRef ref="File Appender"/>
        </Root>
    </Loggers>
</Configuration>
